body {
  margin: 0;
  padding: 0;
  background-color: #c9e0f4;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.rainbow-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200%;
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}
