body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
  background-color: #c9e0f4;
  box-sizing: border-box;
}


.border-top, .border-bottom {
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
}

.border-top {
  top: 0;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  animation: rainbow-top 5s ease infinite;
}

.border-bottom {
  bottom: 0;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  animation: rainbow-bottom 5s ease infinite;
}

@keyframes rainbow-top {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@keyframes rainbow-bottom {
  0% {background-position: 100% 50%}
  50% {background-position: 0% 50%}
  100% {background-position: 100% 50%}
}
